<div class="container">
    <div class="profile">
        <div class="contrainer_profile">
            <div class="img_name_social">
                <div class="image_profile">
                    <img [src]="profileUrl" alt="" center>
                        <h4>Noberth Nikombo</h4>
                        <p>Full stack Developer</p>
                        <p>Ubungo, ilala, Dar es salaam, TZ</p>
              
                </div>
                <div class="details_profile">
                    
                    
                </div>

            </div>
            <div class="details_pro">
                <div class="info_profile_import">
                        
                </div>
            </div>


        </div>
    </div>
</div>
